services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt: 
      - no-new-privileges:true
    networks:
      - proxy
    ports: 
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
       - /var/run/docker.sock:/var/run/docker.sock:ro            # docker sock
       - ./traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro        # the traefik config file - not re-read while running
       - ./traefik/config/conf/:/etc/traefik/conf/                       # additional config files that are read while running
       - ./traefik/certs/:/etc/traefik/certs/                     # where certificate info is kept
       - ./logs:/var/log/traefik                                  # log files for crowdsec to analyze
    environment:
       - CF_DNS_API_TOKEN=$CF_DNS_API_TOKEN
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.rule=Host(`traefik.example.com`)"
      - "traefik.http.routers.traefik-secure.entrypoints=websecure"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.example.com`)"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=example.com"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.example.com"
      - "traefik.http.routers.traefik-secure.service=api@internal"

  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    networks:
      - proxy
    environment:
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve
      - GID=1000
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - ./crowdsec/config:/etc/crowdsec
      - ./crowdsec/data:/var/lib/crowdsec/data
      - ./logs:/var/log/traefik:ro  # Point to your Traefik logs directory
    labels:
      - "traefik.enable=false"
    security_opt:
      - no-new-privileges
    depends_on:
      - traefik

  bouncer:
    image: fbonalair/traefik-crowdsec-bouncer
    container_name: bouncer-traefik
    restart: unless-stopped
    networks:
      - proxy
    environment:
      - CROWDSEC_BOUNCER_API_KEY=${CROWDSEC_BOUNCER_API_KEY}
      - CROWDSEC_AGENT_HOST=crowdsec:8080
      - GIN_MODE=release
      - CROWDSEC_BOUNCER_LOG_LEVEL=debug
    depends_on:
      - crowdsec
    labels:
      - "traefik.enable=false"
      
networks:
  proxy:
    external: true
